.chip .avatar
  margin-right -11px

.show-lable .chip .avatar
  margin-right 8px !important

.fit-in-toolbar
  padding-top: 14px
  transition all .5s
  &--scrolled
    padding-top 8px
    transition all .5s