@import '../../tools/variables.styl'
	
.profile
	&--preword
		& > span
			font-size 12px
	&--name
		& > span
			font-size 40px
			font-weight bold
			text-shadow 2px 2px 4px rgba(0, 0, 0, 0.29)
			@media (max-width: $breakpoints['x-small'])
				font-size: 26px
			@media (min-width: $breakpoints['x-small']) and (max-width: $breakpoints['small'])
				font-size: 34px
	&--role
		& > span
			font-size 24px
			font-weight bold
			@media (max-width: $breakpoints['x-small'])
				font-size: 18px
			@media (min-width: $breakpoints['x-small']) and (max-width: $breakpoints['small'])
				font-size: 22px
	&--description
	&--quote
		& > p, span
			font-size $profileCard['textFontSize'];
	&--description
		& > p
			padding-top: 30px !important
			font-weight lighter
			margin-bottom 5px
	&--quote
		& > span
			font-style italic