@import '../../tools/variables.styl'

.profile--info
	margin: 20px 0 20px 0
	& > div > div
		text-align: left 
		padding: 5px 0 5px 0
	& > div
		@media (max-width: $breakpoints['small'])
			display table
			margin: 0 auto

.divider
	margin: 10px 0 10px 0