@import '../tools/variables.styl'

.parallax
	position absolute
	top 0
	right 0
	left 0
	background-size cover
	background-position-y center
	&::after
		background-color rgba(0, 0, 0, 0.6)
		content ''
		top 0
		left 0
		width 100%
		height 100%
		position absolute
		z-index: 1

.presentation-card
	margin-top 150px

.profile
	&--contact-me
		margin-left 30px