@import '../tools/variables.styl'
	
.profile
	&--preword
		& > span
			font-size 12px
			color $profileCard['textColor']
	&--name
		& > span
			font-size 40px
			font-weight lighter
	&--role
		& > span
			font-size 30px
			font-weight bold
			color $profileCard['textColor']
	&--description
	&--quote
		& > p, span
			font-size $profileCard['textFontSize'];
			color $profileCard['textColor'];
	&--description
		& > p
			padding-top: 30px !important
			font-weight lighter
			margin-bottom 5px
	&--quote
		& > span
			font-style italic