@import '~vuetify/src/stylus/main'

.hide-details
	& > .input-group__details
		&::before
		&::after
			width 0

.application.theme--dark
	background-color #252525

.progress--wrap
	> .progress-circular
		> .progress-circular__info
			color: white